*.css
*.mp4
assets
js
css
images
img
videos
downloads
lightweb/config.php
lightweb/pages/*
lightweb/footers/*
lightweb/headers/*
api/v1/onlyhumans
lightweb/publish/compress/*
lightweb/publish/uncompress/*
lightweb/publish/versions.json
browserconfig.xml
vendors.js
manifest.json
manifest_en.json
manifest_fr.json
manifest_it.json
manifest_pt.json
manifest_nl.json
manifest_ar.json
manifest_dk.json
manifest_de.json
manifest_es.json