*.css
*.mp4
assets
js
css
images
img
videos
downloads
lightweb/config.php
lightweb/pages/*
lightweb/footers/*
lightweb/headers/*
api/onlyhumans
lightweb/publish/compress/*
lightweb/publish/uncompress/*
lightweb/publish/versions.json
