<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- Site Title  -->
    <title>Linum Wallet | ICO Crypto - ICO Landing Page &amp; Multi-Purpose Cryptocurrency HTML Template</title>
    <!-- Bundle and Base CSS -->
    <link rel="stylesheet" href="/assets/css/vendor.bundle.css?ver=210">
    <link rel="stylesheet" href="/assets/css/style.css?ver=210">
    <!-- Extra CSS -->
    <link rel="stylesheet" href="/assets/css/theme.css?ver=210">
</head>

<body class="nk-body body-wider mode-onepage">

    <body class="nk-body body-wider mode-onepage">
        <div class="nk-wrap">
            <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
                <!-- Header @s -->
                <div class="header-main">
                    <div class="header-container container">
                        <div class="header-wrap">
                            <!-- Logo @s -->
                            <div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
                                <a href="./" class="logo-link">
                                    <img class="logo-dark" src="images/logo.png" srcset="images/logo2x.png 2x"
                                        alt="logo">
                                    <img class="logo-light" src="images/logo-full-white.png"
                                        srcset="images/logo-full-white2x.png 2x" alt="logo">
                                </a>
                            </div>
                            <!-- Menu Toogle @s -->
                            <div class="header-nav-toggle">
                                <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                                    <div class="toggle-line">
                                        <span></span>
                                    </div>
                                </a>
                            </div>
                            <!-- Menu @s -->
                            <div class="header-navbar animated" data-animate="fadeInDown" data-delay=".75">
                                <nav class="header-menu" id="header-menu">
                                    <ul class="menu">
                                        <li class="menu-item has-sub">
                                            <a class="menu-link nav-link menu-toggle" href="#">Home</a>
                                            <div class="menu-sub menu-drop menu-mega menu-mega-3clmn">
                                                <div class="menu-mega-innr">
                                                    <ul class="menu-mega-list">
                                                        <li class="menu-item"><a href="index-azalea.html">Azalea
                                                                Dark<span
                                                                    class="badge badge-xs badge-light">v1.6</span></a>
                                                        </li>
                                                        <li class="menu-item"><a href="index-azalea-multi.html">Azalea
                                                                Multi<span
                                                                    class="badge badge-xs badge-light">v1.6</span></a>
                                                        </li>
                                                        <li class="menu-item"><a href="index-gentian.html">Gentian
                                                                Dark<span
                                                                    class="badge badge-xs badge-light">v1.5</span></a>
                                                        </li>
                                                        <li class="menu-item"><a href="index-gentian-pro.html">Gentian
                                                                Pro<span
                                                                    class="badge badge-xs badge-light">v1.5</span></a>
                                                        </li>
                                                        <li class="menu-item"><a href="index-gentian-multi.html">Gentian
                                                                Multi<span
                                                                    class="badge badge-xs badge-light">v1.5</span></a>
                                                        </li>
                                                        <li class="menu-item"><a href="index-zinnia.html">Zinnia Pro</a>
                                                        </li>
                                                        <li class="menu-item"><a href="index-salvia.html">Salvia Pro</a>
                                                        </li>
                                                    </ul>
                                                    <ul class="menu-mega-list">
                                                        <li class="menu-item"><a href="index-lungwort.html">Lungwort
                                                                Dark</a></li>
                                                        <li class="menu-item"><a href="index-jasmine.html">Jasmine
                                                                Light</a></li>
                                                        <li class="menu-item"><a href="index-lobelia.html">Lobalia
                                                                Dark</a></li>
                                                        <li class="menu-item"><a href="index-muscari.html">Miscari
                                                                Pro</a></li>
                                                        <li class="menu-item"><a href="index-lavender.html">Lavender
                                                                Pro</a></li>
                                                        <li class="menu-item"><a href="index-azure-pro.html">Azure
                                                                Pro</a></li>
                                                        <li class="menu-item"><a href="index-azure.html">Azure Dark</a>
                                                        </li>
                                                    </ul>
                                                    <ul class="menu-mega-list">
                                                        <li class="menu-item"><a href="index-dark-pro.html">Default Dark
                                                                Pro</a></li>
                                                        <li class="menu-item"><a href="index-light.html">Default
                                                                Light</a></li>
                                                        <li class="menu-item"><a href="index-dark.html">Default Dark</a>
                                                        </li>
                                                        <li class="menu-item"><a href="index-linum-wallet.html">Linum
                                                                Wallet<span
                                                                    class="badge badge-xs badge-light">v1.8</span></a>
                                                        </li>
                                                        <li class="menu-item"><a href="index-flax-wallet.html">Flax
                                                                Wallet<span
                                                                    class="badge badge-xs badge-light">v1.8</span></a>
                                                        </li>
                                                        <li class="menu-item"><a href="index-crocus-multi.html">Crocus
                                                                Multi<span
                                                                    class="badge badge-xs badge-light">v1.9</span></a>
                                                        </li>
                                                        <li class="menu-item"><a href="index-cyanus-multi.html">Cyanus
                                                                Multi<span
                                                                    class="badge badge-xs badge-info">NEW</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="menu-item"><a class="menu-link nav-link"
                                                href="page-about-v2.html">About</a></li>
                                        <li class="menu-item"><a class="menu-link nav-link"
                                                href="page-wallets-v2.html">Feature</a></li>
                                        <li class="menu-item"><a class="menu-link nav-link"
                                                href="page-download.html">Download</a></li>
                                        <li class="menu-item"><a class="menu-link nav-link"
                                                href="blog-3clmn.html">Announcement</a></li>
                                        <li class="menu-item"><a class="menu-link nav-link" href="page-faq.html">FAQ</a>
                                        </li>
                                        <li class="menu-item"><a class="menu-link nav-link" href="#">Get Started</a>
                                        </li>
                                    </ul>
                                    <ul class="menu-btns">
                                        <li><a href="#"
                                                class="btn btn-md btn-auto btn-primary no-change"><span>Login</span></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div><!-- .header-navbar @e -->
                        </div>
                    </div>
                </div><!-- .header-main @e -->
                <!-- Banner @s -->
                <div class="header-banner bg-theme-alt">
                    <div class="nk-banner">
                        <div class="banner banner-fs-lg banner-y-pd">
                            <div class="banner-wrap">
                                <div class="container">
                                    <div
                                        class="row align-items-center justify-content-center justify-content-lg-between">
                                        <div class="col-lg-5 col-mb-7 order-lg-last">
                                            <div class="banner-gfx banner-gfx-re-s3 my-0 animated"
                                                data-animate="fadeInUp" data-delay="1.1">
                                                <img src="images/header/gfx-g.png" alt="header">
                                            </div>
                                        </div><!-- .col -->
                                        <div class="col-lg-6 col-sm-10 col-mb-10 text-center text-lg-start">
                                            <div class="banner-caption cpn cpn-s2 tc-light">
                                                <div class="cpn-head">
                                                    <h1 class="title title-lg animated" data-animate="fadeInUp"
                                                        data-delay="1.2">Our New Lumin <br
                                                            class="d-none d-md-block">Wallet for You</h1>
                                                </div>
                                                <div class="cpn-text cpn-text-s3">
                                                    <p class="lead lead-s3 animated" data-animate="fadeInUp"
                                                        data-delay="1.3">Manage all kind of Cryptocurrency wallet by one
                                                        secure app.</p>
                                                </div>
                                                <div class="cpn-action">
                                                    <div class="cpn-btns animated" data-animate="fadeInUp"
                                                        data-delay="1.4">
                                                        <ul class="btn-grp btn-grp-s2">
                                                            <li><a href="#" class="btn-download google-play"><img
                                                                        src="images/google-play.png" alt="img"></a></li>
                                                            <li><a href="#" class="btn-download app-store"><img
                                                                        src="images/apps-store.png" alt="img"></a></li>
                                                            <li class="qr-code"><img src="images/icon-wallet.png"
                                                                    alt="img">
                                                                <span class="qr-list">
                                                                    <img src="images/qr-apple.png" alt="img">
                                                                    <img src="images/qr-android.png" alt="img">
                                                                </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- .col -->
                                    </div><!-- .row -->
                                </div>
                            </div>
                        </div>
                    </div><!-- .nk-banner -->
                    <div class="nk-ovm mask-d mask-contain-bottom shape-x"></div>
                    <!-- Place Particle Js -->
                    <!-- <div id="particles-bg" class="particles-container particles-bg"></div> -->
                </div>
                <!-- .header-banner @e -->
            </header>
            <main class="nk-pages">
                <section class="section section-m over-lg-up pdb-0">
                    <div class="container">
                        <!-- Block @s -->
                        <div class="nk-block block-partners partner-box">
                            <ul class="partner-list flex-lg-nowrap mb-0 animated" data-animate="fadeInUp"
                                data-delay=".1">
                                <li class="partner-logo"><img src="images/partners/a.png" alt="partner"></li>
                                <li class="partner-logo" data-animate="fadeInUp" data-delay=".2"><img
                                        src="images/partners/b.png" alt="partner"></li>
                                <li class="partner-logo" data-animate="fadeInUp" data-delay=".3"><img
                                        src="images/partners/c.png" alt="partner"></li>
                                <li class="partner-logo" data-animate="fadeInUp" data-delay=".4"><img
                                        src="images/partners/d.png" alt="partner"></li>
                                <li class="partner-logo" data-animate="fadeInUp" data-delay=".5"><img
                                        src="images/partners/e.png" alt="partner"></li>
                                <li class="partner-logo" data-animate="fadeInUp" data-delay=".6"><img
                                        src="images/partners/f.png" alt="partner"></li>
                            </ul>
                        </div>
                        <!-- Block @e -->
                    </div>
                </section>
                <!-- // -->
                <section class="section ov-h">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-features">
                        <div class="container">
                            <div class="row align-items-center gutter-vr-30px">
                                <div class="col-lg-5">
                                    <div class="nk-block-text">
                                        <h2 class="title title-thin title-dark animated" data-animate="fadeInUp"
                                            data-delay=".1">Meet Our Best <strong
                                                class="text-primary-alt">Features</strong> <br>for Linum Wallet</h2>
                                        <p class="animated" data-animate="fadeInUp" data-delay=".1">We have many more
                                            feature that impress you. <br class="d-none d-lg-block">Don’t be late to <a
                                                href="#" class="link link-primary link-thin link-underline">download</a>
                                            our app.</p>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row align-items-center">
                                        <div class="col-sm-6">
                                            <div class="feature card card-s2 ov-h animated" data-animate="fadeInUp"
                                                data-delay=".3">
                                                <div class="feature-text">
                                                    <h5 class="title title-md">All coin control</h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore amet</p>
                                                </div>
                                                <div class="feature-icon feature-icon-bg">
                                                    <img src="images/icons/icon-o.png" alt="feature">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="feature card card-s2 ov-h animated" data-animate="fadeInUp"
                                                data-delay=".2">
                                                <div class="feature-text">
                                                    <h5 class="title title-md">Currencies simplified</h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore amet </p>
                                                </div>
                                                <div class="feature-icon feature-icon-bg">
                                                    <img src="images/icons/icon-p.png" alt="feature">
                                                </div>
                                            </div>
                                            <div class="feature card card-s2 ov-h animated" data-animate="fadeInUp"
                                                data-delay=".4">
                                                <div class="feature-text">
                                                    <h5 class="title title-md">Multiple currency</h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore amet</p>
                                                </div>
                                                <div class="feature-icon feature-icon-bg">
                                                    <img src="images/icons/icon-q.png" alt="feature">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .block @e -->
                    <!-- .block @s -->
                    <div class="nk-block nk-block-about">
                        <div class="container">
                            <div
                                class="row align-items-center gutter-vr-30px justify-content-lg-between justify-content-center">
                                <div class="col-lg-6 col-mb-9">
                                    <div class="nk-block-img text-center gfx-md m-auto animated" data-animate="fadeInUp"
                                        data-delay=".1">
                                        <img src="images/gfx/gfx-h.png" alt="gfx">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-mb-9">
                                    <div class="nk-block-text">
                                        <h2 class="title title-thin title-dark animated" data-animate="fadeInUp"
                                            data-delay=".2">Buy & Sell Popular <strong
                                                class="text-primary-alt">Cryptocurrency</strong> Easily with Our Wallet
                                        </h2>
                                        <p class="animated" data-animate="fadeInUp" data-delay=".3">You can buy all
                                            popular cryptocurrency with our Cryrpto Wallet easily. You can also sell all
                                            popular Cryptocurrency and FIAT Currency.</p>
                                        <p class="animated" data-animate="fadeInUp" data-delay=".4"><strong>Such
                                                as:</strong> ETH, BTC, BCH, LTC, XRP, USDT, EUR, XLM, BNB TRX, RUB, TRY,
                                            CAD, NGN, VND</p>
                                        <p class="animated" data-animate="fadeInUp" data-delay=".5">Don’t wast your time
                                            anymore. <a href="#"
                                                class="link link-primary link-thin link-underline">Download</a> and get
                                            started now.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .block @e -->
                    <div class="nk-ovm shape-y"></div>
                </section>
                <!-- // -->
                <section class="section bg-theme-alt tc-light ov-h">
                    <div class="container">
                        <!-- Section Head @s -->
                        <div class="section-head text-center wide-sm">
                            <h2 class="title title-thin animated" data-animate="fadeInUp" data-delay=".1">Spend
                                <strong>Cryptocurrency</strong> in online and in-store
                            </h2>
                        </div>
                        <!-- Section Head @s -->
                        <!-- Block @s -->
                        <div class="nk-block nk-block-text-grp mgb-m30">
                            <div class="row gutter-vr-30px">
                                <div class="col-lg-6">
                                    <div class="feature feature-inline feature-s11 card bg-dark-opacity animated"
                                        data-animate="fadeInUp" data-delay=".2">
                                        <div class="feature-icon feature-icon-lg-s3">
                                            <img src="images/icons/icon-r.png" alt="feature">
                                        </div>
                                        <div class="feature-text">
                                            <h4 class="title title-lg title-thin">Your Local Area</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="feature feature-inline feature-s11 card bg-dark-opacity animated"
                                        data-animate="fadeInUp" data-delay=".3">
                                        <div class="feature-icon feature-icon-lg-s3">
                                            <img src="images/icons/icon-s.png" alt="feature">
                                        </div>
                                        <div class="feature-text">
                                            <h4 class="title title-lg title-thin">Online Shop</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .row -->
                        </div><!-- .block @e -->
                    </div>
                    <div class="nk-ovm shape-x-2"></div>
                </section>
                <!-- // -->
                <section class="section ov-h">
                    <div class="container">
                        <div class="section-head wide-sm text-center">
                            <h2 class="title title-thin title-dark animated" data-animate="fadeInUp" data-delay=".1">
                                Make instant <strong class="text-primary-alt">Global</strong> payments</h2>
                            <p class="animated" data-animate="fadeInUp" data-delay=".2">Send and receive any amount of
                                any kind of cryptocurrency from anyone one, anywhere in the world</p>
                        </div>
                        <div class="nk-block nk-block-payment">
                            <div class="payment-holder">
                                <div class="nk-block-img text-center d-none d-lg-block animated" data-animate="fadeIn"
                                    data-delay=".2">
                                    <img src="images/map-bg.png" alt="">
                                </div>
                                <div class="payment-holder-list">
                                    <div class="payment-holder-single animated" data-animate="fadeInDown"
                                        data-delay=".2">
                                        <div class="payment-holder-info payment-info-card">
                                            <h4 class="title title-pcard"><a href="#">Alex Martin</a></h4>
                                            <p>Received 200 ETH from <span class="text-theme-alt">John Smith</span></p>
                                        </div>
                                        <div class="payment-holder-thumb">
                                            <img src="images/payment/p-holder-one.png" alt="payment">
                                        </div>
                                    </div>
                                    <div class="payment-holder-single animated" data-animate="fadeInDown"
                                        data-delay=".2">
                                        <div class="payment-holder-info payment-info-card">
                                            <h4 class="title title-pcard"><a href="#">Bruce Sloan</a></h4>
                                            <p>Send 200 BTC to <span class="text-theme-alt">Frank Bullock</span></p>
                                        </div>
                                        <div class="payment-holder-thumb">
                                            <img src="images/payment/p-holder-two.png" alt="payment">
                                        </div>
                                    </div>
                                    <div class="payment-holder-single animated" data-animate="fadeInDown"
                                        data-delay=".3">
                                        <div class="payment-holder-info payment-info-card">
                                            <h4 class="title title-pcard"><a href="#">John Smith</a></h4>
                                            <p>Send 200 ETH to <span class="text-theme-alt">Alex Martin</span></p>
                                        </div>
                                        <div class="payment-holder-thumb">
                                            <img src="images/payment/p-holder-three.png" alt="payment">
                                        </div>
                                    </div>
                                    <div class="payment-holder-single animated" data-animate="fadeInDown"
                                        data-delay=".4">
                                        <div class="payment-holder-info payment-info-card">
                                            <h4 class="title title-pcard"><a href="#">Frank Bullock</a></h4>
                                            <p>Received 200 BTC from <span class="text-theme-alt">Bruce Sloan</span></p>
                                        </div>
                                        <div class="payment-holder-thumb">
                                            <img src="images/payment/p-holder-four.png" alt="payment">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // -->
                <div class="section ov-h bg-light">
                    <!-- .block @s -->
                    <div class="nk-block nk-block-download">
                        <div class="container">
                            <div class="row align-items-center gutter-vr-30px justify-content-between">
                                <div class="col-md-5 col-mb-8 m-auto order-last order-md-first">
                                    <div class="nk-block-img animated" data-animate="fadeInUp" data-delay=".1">
                                        <img src="images/app-screens/sc-large-p.png" alt="app">
                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-6">
                                    <div class="nk-block-text pb-md-5 text-center text-md-start">
                                        <h2 class="title title-thin title-dark animated" data-animate="fadeInUp"
                                            data-delay=".2">Don’t late to <strong
                                                class="text-primary-alt">Download</strong> <br>Linum Wallet App</h2>
                                        <p class="animated" data-animate="fadeInUp" data-delay=".3">We have many more
                                            feature that impress you.</p>
                                        <ul class="btn-grp btn-grp-s2 animated" data-animate="fadeInUp" data-delay=".4">
                                            <li><a href="#" class="btn-download google-play"><img
                                                        src="images/google-play.png" alt="img"></a></li>
                                            <li><a href="#" class="btn-download app-store"><img
                                                        src="images/apps-store.png" alt="img"></a></li>
                                            <li class="qr-code"><img src="images/icon-wallet.png" alt="img">
                                                <span class="qr-list">
                                                    <img src="images/qr-apple.png" alt="img">
                                                    <img src="images/qr-android.png" alt="img">
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .block @e -->
                </div>
            </main>
            <!-- Footer -->
            <footer class="nk-footer bg-theme-alt">
                <section class="section section-m section-footer tc-light bg-transparent ov-h">
                    <div class="container">
                        <!-- Block @s -->
                        <div class="nk-block block-footer">
                            <div class="row gutter-vr-30px">
                                <div class="col-sm-4">
                                    <div class="wgs wgs-text mb-0 animated" data-animate="fadeInUp" data-delay=".1">
                                        <div class="wgs-body">
                                            <a href="./" class="wgs-logo">
                                                <img src="images/logo-full-white.png"
                                                    srcset="images/logo-full-white2x.png 2x" alt="logo">
                                            </a>
                                            <ul class="wgs-list wgs-list-s2">
                                                <li class="pdb-s">ICO Crypto <br> Company Number ALX455</li>
                                                <li>2237 Gnatty Creek Road <br> Huntington, NY 11743</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-lg-2 col-sm-4">
                                    <div class="wgs wgs-menu mb-0 animated" data-animate="fadeInUp" data-delay=".2">
                                        <h6 class="wgs-title wgs-title-s3 t-cap">Company</h6>
                                        <div class="wgs-body">
                                            <ul class="wgs-links">
                                                <li><a href="#">About Us</a></li>
                                                <li><a href="#">Why ICO Wallet?</a></li>
                                                <li><a href="#">Meet the team</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-lg-2 col-sm-4">
                                    <div class="wgs wgs-menu mb-0 animated" data-animate="fadeInUp" data-delay=".3">
                                        <h6 class="wgs-title wgs-title-s3 t-cap">Legal</h6>
                                        <div class="wgs-body">
                                            <ul class="wgs-links">
                                                <li><a href="#">Terms &amp; Conditions</a></li>
                                                <li><a href="#">Strategy</a></li>
                                                <li><a href="#">Development</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-lg-4 col-md-6">
                                    <div class="wgs wgs-menu mb-0 animated" data-animate="fadeInUp" data-delay=".4">
                                        <h6 class="wgs-title wgs-title-s3 t-cap wgs-nl-title">NewsLetter</h6>
                                        <div class="wgs-body">
                                            <div class="wgs-subscribe">
                                                <form action="form/subscribe.php" class="nk-form-submit" method="post">
                                                    <div class="field-inline field-inline-s3 field-split">
                                                        <div class="field-wrap">
                                                            <input
                                                                class="input-bordered input-bordered-lg-s1 bg-transparent"
                                                                type="text" placeholder="Enter your email">
                                                            <input type="text" class="d-none" name="form-anti-honeypot"
                                                                value="">
                                                        </div>
                                                        <div class="submit-wrap">
                                                            <button class="btn btn-icon btn-light btn-auto-lg"><i
                                                                    class="far fa-paper-plane"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="form-results"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .block @e -->
                    </div>
                </section>
                <div class="nk-ovm shape-x-3"></div>
            </footer>
        </div>
        <!-- Preloader -->
        <div class="preloader"><span class="spinner spinner-round"></span></div>
        <!-- JavaScript -->
        <script src="assets/js/jquery.bundle.js?ver=210"></script>
        <script src="assets/js/scripts.js?ver=210"></script>
        <script src="assets/js/charts.js?ver=210"></script>
        <script src="assets/js/charts.js?ver=210"></script>
    </body>

</html>